.body {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;

  backdrop-filter: blur(40px);
}

.path {
  stroke-dasharray: 12;
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  animation: dash 2s linear alternate infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 10;
    stroke-opacity: 1;
  }
  50% {
    stroke-dashoffset: 50;
  }
  100% {
    stroke-dashoffset: 10;
    stroke-opacity: 1;
  }
}
