name: Deploy App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SSH Key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_CONNECTION_URL }} << 'EOF'
          cd /home/ubuntu/octasol
          git pull origin main
          source /home/ubuntu/.bashrc
          source /home/ubuntu/.profile
          npm install
          npm run build
          pm2 reload octasol-app
          EOF
  
